//your ships -- draggable onto your board
#fleets.col-md-3
  .row.messages
    h4 Messages
    #messages
      p {{message}}
      //- p Welcome, new recruit. Position your fleet, and then begin your attack!
      //- p(ng-repeat="message in messages track by $index") {{message}}
  .row
    a#reset.btn.btn-default(ng-click='reset()') Reset Game
    //- a.btn.btn-default(ng-click='popEnemyBoard()') Populate Enemy Board
  .row#your-fleet
    h4 drag to place ships on board
    table.table.fleet
      tr.fleet.carrier
        td Carrier
        td
          img.ship.carrier#carrier(wb-draggable='true' src='../img/ships/carrier.png' data-size="5" data-ship='carrier' ng-class="{'ship-placed': shipOnBoard('carrier')}" ng-hide='p1ShipSunk("carrier")')
          span.ship-sunk(ng-show='p1ShipSunk("carrier")') SUNK
      tr.fleet.battleship
        td.col-md-4 Battleship
        td.col-md-6
          img.ship.battleship#battleship(wb-draggable='true' src='../img/ships/battleship.png' data-size="4" data-ship='battleship' ng-class="{'ship-placed': shipOnBoard('battleship')}" ng-hide='p1ShipSunk("battleship")')
          span.ship-sunk(ng-show='p1ShipSunk("battleship")') SUNK
      tr.fleet.destroyer
        td.col-md-4 Destroyer
        td.col-md-6
          img.ship.destroyer#destroyer(wb-draggable='true' src='../img/ships/destroyer.png' data-size="4" data-ship='destroyer' ng-class="{'ship-placed': shipOnBoard('destroyer')}" ng-hide='p1ShipSunk("destroyer")')
          span.ship-sunk(ng-show='p1ShipSunk("destroyer")') SUNK
      tr.fleet.submarine
        td.col-md-4 Submarine
        td.col-md-4
          img.ship.submarine#submarine(wb-draggable='true' src='../img/ships/submarine.png' data-size="3" data-ship='submarine' ng-class="{'ship-placed': shipOnBoard('submarine')}" ng-hide='p1ShipSunk("submarine")')
          span.ship-sunk(ng-show='p1ShipSunk("submarine")') SUNK
      tr.fleet.patrol
        td.col-md-4 Patrol
        td.col-md-2
          img.ship.patrol#patrol(wb-draggable='true' src='../img/ships/patrol.png' data-size="2" data-ship='patrol' ng-class="{'ship-placed': shipOnBoard('patrol')}" ng-hide='p1ShipSunk("patrol")')
          span.ship-sunk(ng-show='p1ShipSunk("patrol")') SUNK

//your board -- shows where you've placed your ships and where enemy has hit and missed
#player1-board.col-md-4
  h4 YOUR FLEET 
  table.board-table
    tr.board-row(ng-repeat='row in boardRows track by $index')
      td.board-cell.snap-to-me(
        ng-repeat='col in boardCols track by $index' 
        id="{{row}}{{col}}" 
        wb-drop-target='true' 
        on-drop='dropped(dragEl, dropEls)' 
        data-x="{{$index + 1}}"
        data-y='{{$parent.$index + 1}}' 
        data-boat='{{game.p1Board[row+col]["boat"]}}')
        .content.child-element(ng-class="{'boat-on-cell': p1CellHasBoat('{{row}}{{col}}'), 'hit': p1CellHit('{{row}}{{col}}'), 'sunk': p1ShipSunk(game.p1Board[row+col]['boat'])}" ng-show="p1CellHasBoat('{{row}}{{col}}')") {{game.p1Board[row+col]["boat"][0] | uppercase}}
        .content.child-element(ng-class="{'boat-on-cell': p1CellHasBoat('{{row}}{{col}}'),  'miss': p1CellMiss('{{row}}{{col}}')}" ng-hide="p1CellHasBoat('{{row}}{{col}}')")
        
//enemy board -- shows which ships enemy has left and where you've hit and missed
#enemy-board.col-md-4
  h4 ENEMY FLEET
  table.board-table
    tr.board-row(ng-repeat='row in boardRows track by $index')
      td.board-cell.snap-to-me(
        ng-repeat='col in boardCols track by $index'
        id="p2-{{row}}{{col}}"
        data-x="{{$index + 1}}"
        data-y='{{$parent.$index + 1}}',
        data-boat='{{game.p2Board["p2-"+row+col]["boat"]}}'
        ng-click='attack($event)')
        .content.child-element(ng-class="{'hit': p2CellHit('p2-{{row}}{{col}}'), 'miss': p2CellMiss('p2-{{row}}{{col}}'), 'sunk': p2ShipSunk(game.p2Board['p2-'+row+col]['boat'])}")

  .row#enemy-fleet
    table.table.fleet
      tr.fleet.carrier
        td 
          h5 Enemy Fleet
        td
          img.ship.carrier(src='../img/ships/carrier.png' data-size="5" data-ship='carrier' ng-hide='p2ShipSunk("carrier")')
          span.ship-sunk(ng-show='p2ShipSunk("carrier")') CARRIER SUNK
        td
          img.ship.battleship(src='../img/ships/battleship.png' data-size="4" data-ship='battleship' ng-hide='p2ShipSunk("battleship")')
          span.ship-sunk(ng-show='p2ShipSunk("battleship")') BATTLESHIP SUNK
      tr.fleet.battleship
        td
          img.ship.destroyer(src='../img/ships/destroyer.png' data-size="4" data-ship='destroyer' ng-hide='p2ShipSunk("destroyer")')
          span.ship-sunk(ng-show='p2ShipSunk("destroyer")') DESTROYER SUNK
        td
          img.ship.submarine(src='../img/ships/submarine.png' data-size="3" data-ship='submarine' ng-hide='p2ShipSunk("submarine")')
          span.ship-sunk(ng-show='p2ShipSunk("submarine")') SUBMARINE SUNK
        td
          img.ship.patrol(src='../img/ships/patrol.png' data-size="2" data-ship='patrol' ng-hide='p2ShipSunk("patrol")')
          span.ship-sunk(ng-show='p2ShipSunk("patrol")') PATROL SUNK
