//your ships -- draggable onto your board
#fleets.col-md-3
  .row#your-fleet
    h4 Your Fleet - drag to place on board
    table.table.fleet
      tr.fleet.carrier
        td Carrier
        td
          img.ship.carrier#carrier(wb-draggable='true' src='../img/ships/carrier.png' data-size="5" data-ship='carrier' ng-class="{'ship-placed': shipOnBoard('carrier')}")
      tr.fleet.battleship
        td.col-md-4 Battleship
        td.col-md-6
          img.ship.battleship#battleship(wb-draggable='true' src='../img/ships/battleship.png' data-size="4" data-ship='battleship' ng-class="{'ship-placed': shipOnBoard('battleship')}")
      tr.fleet.destroyer
        td.col-md-4 Destroyer
        td.col-md-6
          img.ship.destroyer#destroyer(wb-draggable='true' src='../img/ships/destroyer.png' data-size="4" data-ship='destroyer' ng-class="{'ship-placed': shipOnBoard('destroyer')}")
      tr.fleet.submarine
        td.col-md-4 Submarine
        td.col-md-4
          img.ship.submarine#submarine(wb-draggable='true' src='../img/ships/submarine.png' data-size="3" data-ship='submarine' ng-class="{'ship-placed': shipOnBoard('submarine')}")
      tr.fleet.patrol
        td.col-md-4 Patrol
        td.col-md-2
          img.ship.patrol#patrol(wb-draggable='true' src='../img/ships/patrol.png' data-size="2" data-ship='patrol' ng-class="{'ship-placed': shipOnBoard('patrol')}")
  .row
    a.btn.btn-default(ng-click='reset()') Reset Game
    //- a.btn.btn-default(ng-click='popEnemyBoard()') Populate Enemy Board
  .row#messages
    h4 Messages
    {{message}}

//your board -- shows where you've placed your ships and where enemy has hit and missed
#player1-board.col-md-4
  h4 Your Board 
  table.board-table
    tr.board-row(ng-repeat='row in boardRows track by $index')
      td.board-cell.snap-to-me(
        ng-repeat='col in boardCols track by $index' 
        id="{{row}}{{col}}" 
        wb-drop-target='true' 
        on-drop='dropped(dragEl, dropEls)' 
        data-x="{{$index + 1}}"
        data-y='{{$parent.$index + 1}}' 
        data-boat='{{game.p1Board[row+col]["boat"]}}')
        .content.child-element(ng-class="{'boat-on-cell': p1CellHasBoat('{{row}}{{col}}'), 'hit': p1CellHit('{{row}}{{col}}'), 'sunk': p1ShipSunk(game.p1Board[row+col]['boat'])}" ng-show="p1CellHasBoat('{{row}}{{col}}')") {{game.p1Board[row+col]["boat"][0] | uppercase}}
        .content.child-element(ng-class="{'boat-on-cell': p1CellHasBoat('{{row}}{{col}}'),  'miss': p1CellMiss('{{row}}{{col}}')}" ng-hide="p1CellHasBoat('{{row}}{{col}}')") {{row}}{{col}}
        
//enemy board -- shows which ships enemy has left and where you've hit and missed
#enemy-board.col-md-4
  h4 Enemy Board
  table.board-table
    tr.board-row(ng-repeat='row in boardRows track by $index')
      td.board-cell.snap-to-me(
        ng-repeat='col in boardCols track by $index'
        id="p2-{{row}}{{col}}"
        data-x="{{$index + 1}}"
        data-y='{{$parent.$index + 1}}',
        data-boat='{{game.p2Board["p2-"+row+col]["boat"]}}'
        ng-click='attack($event)')
        //- .content {{row}}{{col}}
        .content.child-element(ng-class="{'boat-on-cell': p2CellHasBoat('p2-{{row}}{{col}}'), 'hit': p2CellHit('p2-{{row}}{{col}}'), 'sunk': p2ShipSunk(game.p2Board['p2-'+row+col]['boat'])}" ng-show="p2CellHasBoat('p2-{{row}}{{col}}')") {{game.p2Board["p2-"+row+col]["boat"][0] | uppercase}}
        .content.child-element(ng-class="{'boat-on-cell': p2CellHasBoat('p2-{{row}}{{col}}'), 'miss': p2CellMiss('p2-{{row}}{{col}}')}" ng-hide="p2CellHasBoat('p2-{{row}}{{col}}')") {{row}}{{col}}
        
  //- {{boardRows}}
  //- {{boardCols}}
  //- table.board-table
  //- tr.board-row(ng-repeat='row in boardRows track by $index')
  //-   td.board-cell(
  //-     ng-repeat='col in boardCols track by $index' 
  //-     )
      //- data-x="{{$index + 1}}"
      //- data-y='{{$parent.$index + 1}}' 
      //- data-boat='{{p2Board[row+col]["boat"]}}'
      //- .content.child-element(ng-class="{'boat-on-cell': cellHasBoat('p2-{{row}}{{col}}')}" ng-show="cellHasBoat('p2-{{row}}{{col}}')") {{p2Board[row+col]["boat"][0] | uppercase}}
      //- .content.child-element(ng-class="{'boat-on-cell': cellHasBoat('p2-{{row}}{{col}}')}" ng-hide="cellHasBoat('p2-{{row}}{{col}}')") {{row}}{{col}}
  .row#enemy-fleet
    table.table.fleet
      tr.fleet.carrier
        td 
          h5 Enemy Fleet
        td
          img.ship.carrier(src='../img/ships/carrier.png' data-size="5" data-ship='carrier')
        td
          img.ship.battleship(src='../img/ships/battleship.png' data-size="4" data-ship='battleship')
      tr.fleet.battleship
        td
          img.ship.destroyer(src='../img/ships/destroyer.png' data-size="4" data-ship='destroyer')
        td
          img.ship.submarine(src='../img/ships/submarine.png' data-size="3" data-ship='submarine')
        td
          img.ship.patrol(src='../img/ships/patrol.png' data-size="2" data-ship='patrol')
